API_ID=25980607
API_HASH=9c1a48034bbf12a2a7f669ae90a0541
BOT_TOKEN=5792182635:AAH7k-L9DzpkNKK6F1806yi1stPs7793igs
MONGO_DB_URI=mongodb+srv://source-babloo:bablooxx@cluster0.8xvx12g.mongodb.net/abdbablbboonx?retryWrites=true&w=majority
LOG_GROUP_ID=-1001764665180
MUSIC_BOT_NAME=EVA
STRING_SESSION=AgAGkOGHLyRLclcrDcoUe44Qwnii2VDWUQ4_hkCLGleHx5TDOqGTsOEhAx1BJaffRQ7cfU2-ULWqxX12b7-15r2GyiMBGjOkGfe8eaVYjEJ4UN7DEy3se94WJsrXs6UW-LQH4FSst8Ix59AKxvzKjzmvUtc5AhkF64c6NJNAlzEL9_WXpN6wvy6PPsEvdt9jRp-W0YUkRl0CxFbKAH8Z8WUpAm0OvbpBAhIWUiet7X7PFtXThU6DRjbRN9rRytnX4S2AxsM1BYmAOC8iyuSBBilGPOl6LR40spNUfcB140AzhgL97Knzn7-Snb_M0LvxiXv0OZ02Y_SKYa3oThv7bE3VAAAAATSCdWkA
SUPPORT_CHANNEL=https://t.me/BA_BLOO
YAFA_CHANNEL=https://t.me/BA_BLOO
SUDO_USER=https://t.me/DEV_BABLOO
YAFA_NAME=𝙎𝙊𝙐𝙍𝙎𝙀 𝘽𝘼𝘽𝙇𝙊𝙊
BOT_USERNAME=ba_BLOObot
CHANNEL_SUDO=BA_BLOO
START_IMG_URL=https://telegra.ph/file/0fdd5ca4290df7579909a.jpg
